.statistics {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: linear-gradient(
		174deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(8, 83, 180, 1) 82%,
		rgba(36, 121, 187, 1) 94%
	);
}
.statistics_child {
	margin-top: 5rem;
}
